<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="MySql.Data, Version=8.0.12.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Web, Version=8.0.12.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <appSettings/>
  <connectionStrings>
    <add name="OLMSDB"
      connectionString="server=cdb-2x9xtpja.cd.tencentcdb.com;user id=olms;password=123456;persistsecurityinfo=True;port=10033;database=OnlineLibraryManagementSystem;sslmode=none"/>
  </connectionStrings>
</configuration>